<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="./prod-persistence.xml"/>
    <import resource="./dev-persistence.xml"/>
    
    <bean id="sessionManager" class="org.micdrop.highscore.persistence.JpaSessionManager">
        <property name="emf" ref="emFactory"/>
    </bean>

    <bean id="transactionManager" class="org.micdrop.highscore.persistence.JpaTransactionManager">
        <property name="sm" ref="sessionManager"/>
    </bean>

    <bean id="eldenRing" class="org.micdrop.highscore.model.Game">
        <property name="gameName" value="Elden Ring"/>
    </bean>


</beans>
